table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.card {
  margin: auto;
  margin-top: 5rem;
  width: 60%;
  min-width: min-content;
}

.card-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
