/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.success {
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
    )
  );
}
.warn {
  @include mat.theme(
    (
      color: mat.$yellow-palette,
    )
  );
}
.danger {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}
.info {
  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );
}
.help {
  @include mat.theme(
    (
      color: mat.$violet-palette,
    )
  );
}
